@charset "UTF-8";

/*共通部分
------------------------*/
html{
    font-size: 100%;
}

body{
    font-family: Roboto;
        line-height: 1.7;
        color: #111111;
        background: #FAFAFA;
        z-index: -2;

}
a {
    text-decoration: none;
}
img{
    max-width: 100%;
}

.border-radius{
    border-radius: 6px;
}

.shadow {
    box-shadow: 0px  4px 22px -8px rgb(0,0,0,0.2);
}

.caption {
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
}




/* HEADER
------------------------*/

.logo {
    width: 210px;
    margin-top: 10px;

    color: #111111;
    font-weight: 400;
}

.main-nav {
   display: flex;
   font-size: 14px;
   margin-top: 18px;
   list-style: none; 

}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #000000;
}
.main-nav a:hover {
    color: darkgray;
}

.page-header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    transition: .5s;
    top: 0;
    background: rgba(255,255,255,0.7);
    z-index: 999;
    vertical-align: middle;
}

.page-header.hide{
    transform: translateY(-100%);
}

.wrapper {
    max-width: auto;
    margin: 0 auto;
    padding: 0 4%;
}



/* HOME
------------------------*/
.home-content {
    text-align: center;
    margin-top: 10%;
}
.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}

/* 見出し
------------------------*/
.title_wrapper {
    width: 100%;
    white-space: nowrap;
    line-height: normal;
    padding: 150px 0px;
}
.page-title {
    width: 100%;
    font-size: 3.5rem;
    font-family: Roboto;
    text-align: left;
    letter-spacing: normal;
    font-weight: 500;
}

/* button
------------------------*/
.button {
    font-size: 1rem;
    background: #4e4e4e;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-weight: 400;
}
.button:hover {
    background: red;
}

/* background image
------------------------*/
.big-bg {
        background-size: cover;
        background-position: center top;
        background-repeat: no repeat;
}


#home {
    background: #FAFAFA;
    min-height: 100vh;
}


#home .page-title {
    text-transform: none;
}

/* card
------------------------*/
.cardblock{
    display: flex;
    justify-content: center; /* 子要素を中央揃え */
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
}

  .card__imgframe{
    background-size: cover;
    background-color: #F2F2F2;
    width: 95%;
    height: 500px;
    border-radius: 4px;
    padding-right: 5%;
    display: flex;
    justify-content: flex-end;
    right: 0;
    display: table;
    text-align: right;
  }

  .grid {
      display: grid;
      gap: 26px;
      grid-template-columns: 1fr 1fr;
      margin-top: 6%;
      margin-bottom: 50px;
  }

.bg_1 { 
    background-image: url(../images/omotenashi_top.png);
}

.bg_2 { 
    background-image: url(../images/beyondtheconverastion_top.png);
}

.bg_3 { 
    background-image: url(../images/beyondtheconverastion_top.png);
}

.bg_4 { 
    background-image: url(../images/beyondtheconverastion_top.png);
}

.bg_5 { 
    background-image: url(../images/beyondtheconverastion_top.png);
}

  .withincard{
    width: 27%;
    height: 100%;
    top: 20%;
    left: 67%;
    text-align: center;
    vertical-align: middle;
    position: absolute;

  }
  
  
  .card__titletext{
    font-size: 40px;
    font-weight: bold;
    line-height: 100%;
    padding: 0px 18px;

  }
  
  .card__overviewtext{
    font-size: 20px;
    font-weight: 300;
    line-height: 140%;
    padding: 20px 18px;

  }


  /* profile
------------------------*/
.background{
    background-image: url(../images/image_profilebackground.png);
    height: 100vh;
    background-position: left 100% top 90%;
    background-size: cover;
    position: relative;
}
.profile_title{
    font-size: 61px;
    font-weight: 500;
    text-align: left;
    line-height: 70px;
    padding: 40px 18px;
}
.profile_bodytext{
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    line-height: 29px;
    padding: 0px 18px;
    color: #2c2c2c;
    font-style: normal;
}

.profile_last1 {
    font-size: 40px;
    font-weight: 500;
    text-align: left;
    line-height: 50px;
    padding: 40px 18px;
}


  /* Works
------------------------*/
.work-title {
    font-size: 42px;
    font-weight: 500;
}

.works-wrap {
    max-width: auto;
    margin: 30px 13%;
    padding: 0 4%;
}

.cover {
    width: 100%;
    height: 700px;
    background-attachment: fixed;
    background-position: left 50% top 50%;
    background-size: contain;
    position: relative;
}

.cover-background-1 {
    background-image: url(../images/omotenashi_cover.png);
}

.each-section {
    padding: 5% 0%;
}

.work-eachtitle {
    font-size: 42px;
    font-weight: 500;
    line-height: 52px;
    padding-bottom: 5%;
}

.work-eachsubtitle {
    font-size: 25px;
    font-weight: 500;
    line-height: 44px;
    color: #969696;
}

.work-subsection {
    font-size: 25px;
    font-weight: 500;
}

.work-image {
    padding: 100px;
}

.work-column {
    display: flex;
    padding: 10px 10px;
}
.work-insidecolum {
    flex: 1;
    padding: 50px 40px;
}

.work-solution-column {
    display: flex;
    padding: 10px 10px;
    
}

.work-solution-insidesolumn{
    flex: 1;
    padding: 10px 10px;
}
.work-solution-column-text {
    flex: 1;
}

.work-solution-column-image {
    flex: 1;

}

.work-2column {
    width: 100%;
    display: flex;
    padding: 10px 10px;
}
.work-2insidecolumn {
    width: 500px;
    flex: 1;
    padding: 0px 10px;
}

  /* footer
------------------------*/
footer {
    background: F2F2F2;
    text-align: center;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.footer-nav {
    display: flex;
    font-size: 14px;
    margin-top: 18px;
    list-style: none; 
    padding: 0px;
 }
 
 .footer-nav li {
     margin: 20px;
     width: 20px;
     height: 20px;
 }


 .footer-nav a {
     opacity: 0.7;
 }

.footer-nav a:hover {
    opacity: 1;
}


